* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
 background-color: red;
  font-family: 'Rubik Mono One', sans-serif;
}
header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}
 nav li {
  display: inline-block;
  text-decoration: none;
  list-style: none;
  padding: 30px;
  font-size: 20px;
  
}
.cercle {
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  text-align: center;

}
.cercle, nav, nav li {
display: inline-block;
margin-right: 30px;
text-decoration: none;
vertical-align: middle;
}
